<h1>Register</h1>
<!-- Social register-->
<!-- <div class="socials">
  <div class="ion ion-social-facebook" (click)="registerFacebook()"></div>
  <div class="ion ion-social-google" (click)="registerGoogle()"></div>
</div> -->
<!-- Email register-->
<!-- <h5>Email</h5> -->
<form #form="ngForm" class="form" (ngSubmit)="register()"  aria-labelledby="title">

    <div class="form-control-group">
      <label class="label req" for="input-name">Full name:</label>
      <input nbInput
              [(ngModel)]="user.name"
              #fullName="ngModel"
              id="input-name"
              name="fullName"
              placeholder="Full name"
              autofocus
              fullWidth
              fieldSize="large"
              [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null"
              required>
      <ng-container *ngIf="fullName.invalid && fullName.touched">
        <!-- <p class="caption status-danger" *ngIf="fullName.errors?.required">
          Full name is required!
        </p> -->
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label req" for="input-email">Email address:</label>
      <input nbInput
              [(ngModel)]="user.email"
              #email="ngModel"
              id="input-email"
              name="email"
              pattern=".+@.+..+"
              placeholder="Email address"
              fullWidth
              fieldSize="large"
              [attr.aria-invalid]="email.invalid && email.touched ? true : null"
              required>
      <ng-container *ngIf="email.invalid && email.touched">
        <!-- <p class="caption status-danger" *ngIf="email.errors?.required">
          Email is required!
        </p> -->
        <p class="caption status-danger" *ngIf="email.errors?.pattern">
          Email should be valid
        </p>
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label req" for="input-password">Password:</label>
      <input nbInput
              [(ngModel)]="tmpUser.password"
              #password="ngModel"
              type="password"
              id="input-password"
              name="password"
              placeholder="Password"
              fullWidth
              fieldSize="large"
              [attr.aria-invalid]="password.invalid && password.touched ? true : null"
              required>
      <ng-container *ngIf="password.invalid && password.touched">
        <!-- <p class="caption status-danger" *ngIf="password.errors?.required">
          Password is required!
        </p> -->
      </ng-container>
    </div>

    <div class="form-control-group">
      <label class="label req" for="input-re-password">Repeat password:</label>
      <input nbInput
              [(ngModel)]="tmpUser.confirmPassword"
              #rePass="ngModel"
              type="password"
              id="input-re-password"
              name="rePass"
              placeholder="Confirm Password"
              fullWidth
              fieldSize="large"
              [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null"
              required>
      <ng-container *ngIf="rePass.invalid && rePass.touched">
        <p class="caption status-danger" *ngIf="rePass.errors?.required">
          Password confirmation is required!
        </p>
        <p class="caption status-danger" *ngIf="password.value != rePass.value && !rePass.errors?.required">
          Password does not match the confirm password.
        </p>
      </ng-container>
    </div>
    <div class="btn-cont">
      <button class="btn-raised btn-grid" type="submit" [disabled]="submitted || !form.valid">
        <!-- <span class="mdi mdi-plane back"></span> -->
        <span class="front">SUBMIT</span>
      </button>
      <button class="btn-raised btn-grid" type="reset" [disabled]="submitted">
        <!-- <span class="mdi mdi-flash back"></span> -->
        <span class="front">RESET</span>
      </button>
    </div>
  </form>

