// GENERAL
$white: #afafaf;
$red: #e31b23;

// COLORS
$color-primary: #c70000;
$color-selected: #2e2eb8;
$color-selected-2: #32CD32;
$color-danger: #EC2731;
$background-primary: #fffcec;
$background-secondary: #efefef;
$background-tertiary:  	#4B0082;
$background-blur: #60292f; // deep red

// BUTTONS
$btn-hover: #138496;
$btn-active: #138496;

// FORMS
$formBgColor: white;
$formElsBorder: hsl(0, 0%, 100%);
$formElsBg: hsl(0, 0%, 100%);
$formElsBgFocus: hsl(0, 1%, 86%);
