/* You can add global styles to this file, and also import other style files */
@import './variables';

html, body {
  height: 100%;

}

p {
	font-size: 18px;
	font-family: Raleway,sans-serif;
}

body {
	margin: 0;
	line-height: 1.42857143;
	color: #333;
  background-color: #fff;
  font-size: 18px;
  font-family: Raleway,sans-serif;
}

.AC {
  text-align: center;
}

.container {
  // width: 970px;
  margin:0px 8%;
}

.container-sm {
  margin:0px 20%;
}

.content-section-heading{
	margin:40px;
	text-align:center;
}
h1.content-section-title{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px;
	font-weight:auto;
}
h2.content-section-subtitle {
	padding: 0;
	margin: 0 0 5px;
	font-family: 'PT Serif',Arial !important;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	font-style: italic;
}
.content-section-line {
  text-align: center;

  span {
    background-color: rgba(0,0,0,.025);
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    display: inline-block;
    width: 200px;
    height: 4px;
  }
}

.icon-box {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin:15px 25px;
}
.icon-box-link a, .icon-box-link span {
  font-family: 'Lato',Arial !important;
  font-size: 14px;
  line-height: 24px;
  padding: 7px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

.icon-box-link a, .icon-box-link span {
  background-color: #3498db;
  color: white;
  border: 1px solid #3498db;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
}

.icon-box-link a:hover, .icon-box-link span:hover {
  background-color: #3498db;
  color: white;
  border: 1px solid #3498db;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
  text-decoration: none;
  cursor: pointer;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;

}
.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}
button.active {
  background: lightblue;
}

.hamburger {
  outline: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #bdbdbd;
  outline: none;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #bdbdbd;
  outline: none;
}

//////
/// FORMS
//////
.form {
  background-color: $formBgColor;

  [disabled] {
    cursor: not-allowed;
  }
  .mdi {
    width: 2em;
  }
  h1 {
    font-size: 2.25rem;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
    text-align: center;
  }
  .label {
    color: #8f9bb3;
    // font-family: Open Sans, sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
  }
  .status-danger {
    color: $color-danger;
  }
  .forgot-password {
    font-size: 10px;
    margin-left: 5px;
  }
  select, input, textarea, button {
    width: 100%;
    line-height: 1.5;
    padding: 15px 10px;
    border: 1px solid $formElsBorder;
    color: black;
    background: $formElsBg;
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
    box-sizing: border-box;
  }
  button {
    background-color: #3498db;
    color: white;
  }
  select:focus, input:focus, textarea:focus, button:focus {
    background: $formElsBgFocus;
  }
  select:focus, input:focus, textarea:focus {
    transform: scale(1.02);
  }
  .btn-grid {
    position: relative;
    overflow: hidden;
    // transition: filter 0.2s;
  }
  // button:enabled:hover, .my-form button:focus {
  // button:enabled:hover {
  //   background: var(--bgFormElsFocus);
  // }
  button {
    width: 40%;
    cursor: pointer;
  }
  button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }
  // button .back {
  //   position: absolute;
  //   left: 0%;
  //   top: 50%;
  //   transform: translate(-100%, -50%);
  // }
  // button:enabled:hover .back, button:focus .back {
  // button:enabled:hover .back {
  //   transform: translate(0%, -50%);
  // }
  // button:enabled:hover .front, .my-form button:focus .front {
  // button:enabled:hover .front {
  //   transform: translateX(110%);
  // }
}
// form {

//   .form-group {
//     margin-bottom: 15px;
//   }
//   label {
//     display: inline-block;
//     max-width: 100%;
//     margin-bottom: 5px;
//     font-weight: 700;
//     font-size: 14px;
//     color: black;
//   }
//   .form-control {
//     display: block;
//     width: 100%;
//     height: 34px;
//     padding: 6px 12px;
//     font-size: 14px;
//     line-height: 1.42857143;
//     color: #555;
//     background-color: #fff;
//     background-image: none;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
//     transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
//   }
// }

.chevron-right::before {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}
.chevron-right.open-right::before {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}
.chevron-left::before {
  transform: rotate(270deg);
  transition: transform 0.2s linear;
}
.chevron-left.open-left::before {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}


//////
// DASHBOARD LAYOUT
//////
.dash-layout {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  .middle {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    height: calc(100vh - 4.75rem);

    .sidebar {
      background-color: #efefef;
      box-shadow: 0 .5rem 1rem 0 #1a1f33;
      color: #fff;
      font-family: Open Sans,sans-serif;
      font-size: .9375rem;
      font-weight: 400;
      line-height: 1.25rem;
      padding-top: 10px;
      // width: 20%;
      display: inline-block;

      .menu-item {
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        justify-content: flex-start;
        text-decoration: none;
        margin-top: 6px;
        border-bottom: 1px solid black;
        padding: 4px 0px;

        .inner {
          display: flex;
          padding: 0px 6px;
          white-space: nowrap;
        }
        .icon {
          margin-left: 6px;
        }
        > a, > span {
          text-decoration: none;
          font-size: 14px;
          color: black;
        }
      }
    }
    .content {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      margin: 8px;

      .outlet {
        flex: 1;

        form {
          margin-top: 15px;
        }
      }
    }
  }
}



@media screen and (min-device-width: 1200px) /* Desktop */ {
  .teacher {
    flex-basis: 12%;
  }
  .hidden-lg {
    display:  none;
  }
}

@media screen  and (max-device-width: 1199px) /* Tablet */ {
  .hidden-md {
    display: none;
  }
}

@media screen and (max-device-width: 720px) /* Mobile */ {
  .hidden-sm {
    display: none;
  }
}
