:host {
  box-shadow: 0 .5rem 1rem 0 #1a1f33;
}

nav {
  background-color: #222b45;
  border-top: 1px solid #151a30;
  color: #fff;
  font-family: Open Sans,sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 1.25rem;
}
