<div class="how-many">
  <label for="name">Filter:</label>
  <input type="text" name="name" [formControl]="filter" placeholder="filter for anything" />
  <br/>
  <label for="howMany">Filter:</label>
  <input type="number" name="howMany" [formControl]="howMany" placeholder="10" />
</div>

<div class="dash-cont" [@dashAnimation]='isCollapsedContact'>
  <span class="dash-title" (click)="toggle('contact')">
    Contact Messages
    <span [ngClass]="{
        'chevron-right': true,
        'mdi': true,
        'mdi-chevron-down': true,
        'open-right': isCollapsedContact
    }"></span>
  </span>
  <ng-container *ngIf='isCollapsedContact && contactMessagesFiltered$ | async as contactMessagesFiltered$ '>
    <div class="list-cont">
      <div class="list-item" *ngFor='let msg of contactMessagesFiltered$; let i = index'
      [ngStyle]="{display: i < myMany ? 'flex' : 'none'}">
        <div class="name">{{msg.name}}</div>
        <div class="msg">{{msg.message}}</div>
        <div class="info">
          <span class="phone">{{msg.phone}}</span>
          <span class="email">{{msg.email}}</span>
          <div class="date">{{msg.createdAt.toDate() | date:'mediumDate'}}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="dash-cont" [@dashAnimation]='isCollapsedSignup'>
  <span class="dash-title" (click)="toggle('signup')">
    Signups
    <span [ngClass]="{
        'chevron-right': true,
        'mdi': true,
        'mdi-chevron-down': true,
        'open-right': isCollapsedSignup
      }"></span>
    </span>
  <ng-container *ngIf='isCollapsedSignup && signupsFiltered$ | async as signupsFiltered$'>
    <div class="list-cont">
      <div class="list-item" *ngFor='let msg of signupsFiltered$; let i = index'
      [ngStyle]="{display: i < myMany ? 'flex' : 'none'}">
        <div class="name">{{msg.name}}</div>
        <div class="msg">{{msg.about}}</div>
        <div class="info">
          <span class="phone">{{msg.phone}}</span>
          <span class="email">{{msg.email}}</span>
          <div class="date">{{msg.createdAt.toDate() | date:'mediumDate'}}</div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #smallInfo let-msg='msg'>
  <span class="more-info-txt" *ngIf="!isShowMoreInfo" (click)="showMoreInfo()">more</span>
  <span class="more-info-txt" *ngIf="isShowMoreInfo" (click)="showMoreInfo()">less</span>
  <div class="more-info-cont" *ngIf="isShowMoreInfo">
    <div class="phone">{{msg.phone}}</div>
    <div class="email">{{msg.email}}</div>
  </div>
</ng-template>

<ng-template #bigInfo let-msg='msg'>
  <span class="phone">{{msg.phone}}</span><span class="email">{{msg.email}}</span>
</ng-template>

<!-- <ng-container *ngIf='items | async as itemsFromContainer'>
  <div [@listStagger]='itemsFromContainer.length'>
      <div *ngFor='let item of itemsFromContainer'>{{item}}</div>
  </div>
</ng-container> -->
