@import "../../../styles//variables";

:host {
  display: flex;
  flex-flow: column nowrap;
  margin: 7px;

  > div {
    margin-bottom: 15px;
  }
}

.list-item {
	display: flex;
	flex-flow: row nowrap;
  align-items: center;
  padding: 7px;
  box-shadow: 0px 1px 2px 0px $background-secondary;

  > div {
    margin-right: 5px;
  }
  .name {
    width: 12%;
  }
  .msg {
    flex: 1;
    margin-right: 15px;
  }
  .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
  }
}
.list-item:nth-child(2n+1) {
  background: $background-secondary;
}

.contact-cont {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid orange;

  .contact {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 5px;
    max-width: 33%;

    .msg {
      text-align: center;
      flex-grow: 1;
      margin-bottom: 5px;
    }
  }
}

.dash-cont {
	display: inline-flex;
	// border: 1px solid $color-primary;
  flex-flow: column;
  box-shadow: 1px 1px 3px 2px $background-blur;

  .dash-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 18px;
    // border-bottom: 1px solid $color-primary;
    align-items: baseline;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  .item-cont {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .item {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      max-width: 33%;
      padding: 5px;
      border: 1px solid $color-primary;
      border-radius: 5px;
      box-shadow: 1px 1px 3px aliceblue;
      margin: 5px;
      height: 220px;

      .name {
        font-weight: bold;
      }
      .msg {
        text-align: center;
        flex-grow: 1;
        margin-bottom: 5px;
      }
      .info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
      }
    }
  }
}
