.teacher-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  cursor: pointer;

  .top {
    width: 250px;
    height: 240px;
    background-size: cover;
  }
  .bot {
    margin: 0px 0px 8px 0px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 -4px 0 rgba(0,0,0,.025) inset;

    .title {
      font-weight: bold;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
}
