<!-- <div class="teacher-cont">
<div class="teacher" *ngFor="let teacher of teachers | async">
  <div  class="portfolio-cell ">
    <div class="portfolio-cell-thumb">
      <div class="portfolio-cell-bg"></div>
      <a routerLink="/teachers/{{teacher.key}}">
        <img appLazyLoad src="{{teacher.imgUrl}}}" class="attachment-thumb-cell-small size-thumb-cell-small wp-post-image" alt="">
      </a>
    </div>
    <div class="portfolio-cell-data">
      <div class="portfolio-cell-title">
        <a routerLink="/teachers/{{teacher.key}}">{{teacher.name}}</a>
      </div>
      <div class="portfolio-cell-categories"><a routerLink="/instrument/{{teacher.instrument}}">{{teacher.instrument}}</a></div>
    </div>
  </div>
</div>
</div> -->


<div class="teacher-cont">
  <div class="teacher" *ngFor="let teacher of teachers | async" (click)="goTeacher(teacher.key)">
    <div class="top" [style.background-image]="'url(' + teacher.imgUrl + ')'"></div>
    <div class="bot">
      <div class="title"><a routerLink="/teachers/{{teacher.key}}">{{teacher.name}}</a></div>
      <div>
        <a routerLink="/instrument/{{teacher.instrument}}">{{teacher.instrument}}</a>
      </div>
    </div>
  </div>
</div>
