.footer {
	display: flex;
	flex-flow: row nowrap;
  justify-content: space-around;
  margin: 8px 8px 0px 8px;

  .footer-left {
    display: flex;
    flex-flow: row wrap;
  }
  .footer-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .top, .bot {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      justify-content: space-around;
    }
    a {
      margin: 0 4px;
      margin: 0 4px;
      font-size: 14px;
      text-decoration: none;
      color: black;
    }
  }
  .footer-logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-grow: 1;

    > div > img {
      width: 50px;
      margin: 0 7px;
    }
  }
}
