<!-- <div id="footer"></div>
<div id="footer-bottom">
  <div class="wrap">
    <div id="footer-copyright" style="text-align: left;">
      <a routerLink="/home">OCMS</a> ©&nbsp;2017 | All Rights Reserved • (714) 573-1449
    </div>
    <div id="footer-right">
      <a routerLink="/about">About</a>
      <a routerLink="/teachers">Teachers</a>
      <a routerLink="/testimonials">Testimonials</a>
      <a routerLink="/contact">Contact</a>
      <a *ngIf="!isLoggedIn;" routerLink="/login">Admin Login</a>
      <a *ngIf="isLoggedIn;" (click)="logout()" routerLink="/admin">Logout</a>
    </div>
    <div class="cleared"></div>
  </div>
  <div class="wrap AC">
      <div>
        <a href="https://www.yelp.com/biz/orange-county-music-school-tustin">
          <img alt="Orange County Music School" src="../assets/img/yelpIcon.png" height="33" width="88">
        </a>
      </div>
      <img class="home-footer-img" src="../assets/img/elite.png"/>
      <img class="home-footer-img" src="../assets/img/lessons.png"/>
      <img class="home-footer-img" src="../assets/img/MTAC_2019.jpeg"/>
  </div>
</div> -->

<div class="footer">
  <div class="footer-copyright" style="text-align: left;">
    <a routerLink="/home">OCMS</a> ©&nbsp;2017 | All Rights Reserved • (714) 573-1449
  </div>
  <div class="footer-logos">
    <div><img class="home-footer-img" src="../assets/img/elite.png"/></div>
    <div><img class="home-footer-img" src="../assets/img/lessons.png"/></div>
    <div><img class="home-footer-img" src="../assets/img/MTAC_2019.jpeg"/></div>
    <div><img class="home-footer-img" src="../assets/img/BestBusiness.jpg"/></div>
    <div>
      <a href="https://www.yelp.com/biz/orange-county-music-school-tustin">
        <img alt="Orange County Music School" src="../assets/img/yelpIcon.png" height="33" width="88">
      </a>
    </div>
  </div>
  <div class="footer-right">
    <div class="top">
      <a routerLink="/about">About</a>
      <a routerLink="/teachers">Teachers</a>
      <a routerLink="/testimonials">Testimonials</a>
    </div>
    <div class="bot">
      <a routerLink="/contact">Contact</a>
      <a *ngIf="!isLoggedIn;" routerLink="/login">Admin Login</a>
      <a *ngIf="isLoggedIn;" (click)="logout()" routerLink="/admin">Logout</a>
    </div>
  </div>
</div>
