<app-home-splash></app-home-splash>
<app-home-news></app-home-news>
<app-home-tiles></app-home-tiles>
<app-home-video></app-home-video>
<app-home-gallery></app-home-gallery>
<app-home-learntoplay></app-home-learntoplay>
<app-home-testimonials></app-home-testimonials>
<app-home-teachers></app-home-teachers>
