<app-page-header [title]="'FAQs'"></app-page-header>

<div class="container" style="margin-top:30px;">
  <!-- accordion with arrows -->
  <app-accordion-group  [data]="faqs"></app-accordion-group>
</div>
