<app-page-header [title]="'Videos'"></app-page-header>

<div class="filter-buttons AC" >
  <button
    class="btn btn-lg btn-info"
    [class.active]="filterBy == 'All'"
    style="margin-right:15px;"
    (click)="filterClicked('All')" >All
  </button>
  <button
    *ngFor="let fil of filterOptions"
    class="btn btn-lg btn-info"
    [class.active]="filterBy == fil"
    style="margin-right:15px;"
    (click)="filterClicked(fil)" >{{fil}}
  </button>
</div>

<!-- <div class="vid-totals AC">
  <span>Page {{ currentPage + 1 }} of {{ ((videosActive | async | imageFilter:filterBy)?.length / pageSize) | roundUp }}</span>
  <span>Total Videos: {{ (videosActive | async | imageFilter:filterBy)?.length }}</span>
</div> -->
<div class="vid-page-numbers">
<button
  class="btn"
  (click)="currentPage = i - 1"
  *ngFor="let i of ((videosActive | async | imageFilter:filterBy)?.length / pageSize) |timesPipe">
  {{i}}
</button>
</div>



<!-- <div class="vid-wrapper">
  <app-video-item
    class="vid-item"
    *ngFor="let item of videosActive | async | imageFilter:filterBy:filterMetadata"
    [videoId]="item.videoId"
    [title]="item.title"
    [caption]="item.caption"
    [tileSize]='full-tiles'>
  </app-video-item>
</div> -->

<div class="vid-wrapper">
  <!-- <div class="vid-item" *ngFor="let item of videosActive | async | imageFilter:filterBy:filterMetadata; let i = index"> -->
    <div class="vid-item" *ngFor="let item of videosActive | async; let i = index">
    <app-video-item
      *ngIf="i >= (currentPage * pageSize) && i < (currentPage * pageSize + 10)"
      [videoId]="item.videoId"
      [title]="item.title"
      [caption]="item.caption"
      [tileSize]="'full'">
    </app-video-item>
  </div>
</div>
