<h1 id="title" class="title">Login</h1>


    <form #form="ngForm" class="form" (ngSubmit)="login()"  aria-labelledby="title">

      <div class="form-control-group">
        <label class="label req" for="input-email">Email address:</label>
        <input nbInput
              fullWidth
              [(ngModel)]="user.email"
              #email="ngModel"
              name="email"
              id="input-email"
              pattern=".+@.+\..+"
              placeholder="Email address"
              fieldSize="large"
              autofocus
              required="true"
              [attr.aria-invalid]="email.invalid && email.touched ? true : null">
        <ng-container *ngIf="email.invalid && email.touched">
          <!-- <p class="caption status-danger" *ngIf="email.errors?.required">
            Email is required!
          </p> -->
          <p class="caption status-danger" *ngIf="email.errors?.pattern">
            Email should be valid
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <span class="label-with-link">
          <label class="label req" for="input-password">Password:</label>
          <a class="forgot-password" routerLink="../request-password">Forgot Password?</a>
        </span>
        <input nbInput
              fullWidth
              [(ngModel)]="user.password"
              #password="ngModel"
              name="password"
              type="password"
              id="input-password"
              placeholder="Password"
              fieldSize="large"
              [required]="true"
              minlength="5"
              maxlength="100"
              [attr.aria-invalid]="password.invalid && password.touched ? true : null">
        <ng-container *ngIf="password.invalid && password.touched ">
          <!-- <p class="caption status-danger" *ngIf="password.errors?.required">
            Password is required!
          </p> -->
          <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
            Password should contain at least 3 characters
            characters
          </p>
        </ng-container>
      </div>

      <!-- <div class="form-control-group accept-group">
        <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
      </div> -->
      <div class="btn-cont">
          <button class="btn-raised btn-grid" type="submit" [disabled]="submitted || !form.form.valid">
            <!-- <span class="mdi mdi-plane back"></span> -->
            <span class="front">SUBMIT</span>
          </button>
          <button class="btn-raised btn-grid" type="reset" [disabled]="submitted">
            <!-- <span class="mdi mdi-flash back"></span> -->
            <span class="front">RESET</span>
          </button>
        </div>
    </form>



