<button class="new-btn btn btn-info mB15" (click)="setNewAnnouncement()">New</button>
<div class="admin-list">
  <div *ngFor="let ann of announcements | async; let i = index">
    <span class="ann">{{ (ann.announcement.length > 20) ? (ann.announcement | slice:0:20) + '...' : (ann.announcement) }}</span>
    <span class="date">{{ann.createdAt.toDate() | date:'shortDate'}}</span>
  </div>
</div>

<!-- SAVE FORM -->
<form (ngSubmit)="saveAnnouncement(annForm)" #annForm="ngForm">
  <div class="form-group">
    <label for="announcement">Announcement</label>
    <textarea rows="3" class="form-control" id="text" required
      [(ngModel)]="model.announcement" name="announcement"
      #announcement="ngModel"
      [ngClass]="{
        'has-success': announcement.valid,
        'has-danger': !announcement.pristine && !announcement.valid
      }">
    </textarea>
      <div [hidden]="announcement.valid || announcement.pristine" class="alert alert-danger">
        Question is required
    </div>
  </div>
  <div class="form-group">
    <label for="isActive">Active</label>
    <input [checked]="model.isActive"
    [(ngModel)]="model.isActive"
    type="checkbox"
    name="isActive"
    id="isActive"
    #isActive>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="!annForm.form.valid">Save</button>
</form>

