<app-page-header [title]="'LearnToPlay'"></app-page-header>

<div class="container">
  <p>Interested in learning how to play an instrument? Tell us a little bit about yourself and we will get back to with a recommendation from a qualafied teacher!</p>
</div>

<!-- SAVE FORM -->
<div class="row container">
  <div class="col-lg-6 AC">
    <h2>Existing Students</h2>
    <a href="https://calendly.com/stellaocmusic"
    class="bt btn-info btn-lg"
    style="margin-top: 30px; text-decoration: none; display:inline-block; ">Schedule Your Lessons</a>
  </div>
  <div class="col-lg-5">
    <h2 class="AC">New Students</h2>
    <form (ngSubmit)="saveLTP(ltpForm)" #ltpForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required
            [(ngModel)]="model.name" name="name"
            #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
                class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" class="form-control" id="phone" required
            [(ngModel)]="model.phone" name="phone"
            #phone="ngModel">
            <div [hidden]="phone.valid || phone.pristine"
                class="alert alert-danger">
            Phone is required
          </div>
        </div>
        <div class="form-group">
            <label for="phone">Email</label>
            <input type="email" class="form-control" id="email" required
              [(ngModel)]="model.email" name="email"
              #email="ngModel">
              <div [hidden]="email.valid || email.pristine"
                  class="alert alert-danger">
              Email is required
            </div>
          </div>
        <div class="form-group">
          <label for="about">About You</label>
          <textarea class="form-control" id="about" required
            [(ngModel)]="model.about" name="about"
            #about="ngModel">
          </textarea>
            <div [hidden]="about.valid || about.pristine"
                class="alert alert-danger">
            About is required
          </div>
        </div>
        <div class="form-group">
          <label for="instrument">Instrument</label>
          <input type="text" class="form-control" id="instrument" required
            [(ngModel)]="model.instrument" name="instrument"
            #instrument="ngModel">
            <div [hidden]="instrument.valid || instrument.pristine"
                class="alert alert-danger">
            Instrument is required
          </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!ltpForm.form.valid">Submit</button>
      </form>
  </div>
</div>
