h2 {
  text-align: center;
}

:host {
  background: pink;
}

:host ::ng-deep  .video-cont {
  margin: 0 auto !important;
  max-width: 100% !important;
  width:70% !important;

  iframe {
    width: 100% !important;
  }
}

.content-section-heading {
  margin-top:0px;
  margin-bottom:10px;
}

.ann {
  font-size: 17px;
}

.icon-box-link {
  text-align: center;
  margin-top:5px;
}

@media (max-width: 768px) {
  :host ::ng-deep  .video-cont {
    width:100% !important;
  }
}
