<app-page-header [title]="'Testimonials'"></app-page-header>

<!-- <app-tile-testimonial [data]='testimonials'></app-tile-testimonial> -->
<div class="masonry-container">
  <div class="masonry-brick" *ngFor="let item of testimonials | async">
      <div class="testimonials-content">
          <span class="testimonials-arrow"></span>
          <p innerHtml="{{item.text}}"></p>
        </div>
        <div class="testimonials-author">
          <div class="testimonials-image">
              <img alt="author" src="../assets/img/5stars.png">
          </div>
          <div class="testimonials-author-name">{{item.author}}</div>
          <div class="cleared"></div>
        </div>
  </div>
</div>

