<app-page-header [title]="'About'"></app-page-header>

<div class="container-sm">
  <div class="about-message">
    Orange County Music School has been providing the Orange Country area with high quality music instruction for more than 35 years.
  </div>
  <div class="row">
    <div class="left">
      <img class="icon-box-image about-info-img" src="../assets/img/about_1.jpg">
    </div>
    <div class="rig">
      <p>We are a music school that offers comprehensive instruction in both theory and practice. You can also get private lessons, including private lessons from an Academy teacher right in your own home. All ages, from small children to senior citizens, are welcomed and taught if they wish to learn music. Whether you are a beginner, intermediate, or advanced music student, Orange County Music School School can help you become better.</p>
    </div>
  </div>
  <div class="row">
    <div class="left">
      <img class="icon-box-image about-info-img" src="../assets/img/about_2.jpg">
    </div>
    <div class="right">
      <p>Recitals and concerts are held at least twice a year to provide students with confidence-building performance experience. Theory classes are taught in preparation for exams of all levels concerning theory, history, harmony, counterpoint, and analysis. Full training is offered in repertoire, composition, performance technique, ear training, and sight-reading to prepare classical students for the Certificate of Merit Exam.</p>
    </div>
  </div>
  <div class="row-col">
    <div class="list-item column">- Basic Music Theory</div>
    <div class="list-item column">- Piano</div>
    <div class="list-item column">- Percussion</div>
    <div class="list-item column">- Keyboards</div>
    <div class="list-item column">- Vocals</div>
    <div class="list-item column">- Violin</div>
    <div class="list-item column">- Guitar</div>
    <div class="list-item column">- How to Form a Band and Play Rock Music</div>
  </div>
  <div class="row">
    <p>Research shows that singing can enhance your health and decrease your stress, and playing music makes you smarter, healthier, and happier. Orange County Music School School can help you become a healthier, happier person. Start hearing things in music that you don't even dream exist right now...</p>
    <p>Orange County Music School School - Music Education in the Finest European Traditions.</p>
  </div>
  <div class="row">
    <h2 class="AC">Why we recommend group lessons for young beginners</h2>
    <p>A group setting provides excitement, friends, and inspiration during the first 2-3 difficult years of piano/keyboard lessons. After completing the class, we encourage students to continue private lessons with the instructor of their choice.</p>
    <p>Benefits of learning in a group include:</p>
  </div>
  <div class="row-flex">
  <div class="note-item">
    <div class="title">
      Listening
    </div>
    <div class="body">
      Playing music in a group helps students learn to listen and stay together with the group.
    </div>
  </div>
  <div class="note-item">
    <div class="title">
      Rhythm
    </div>
    <div class="body">
      Working in a group helps students strengthen rhythm skills.
    </div>
  </div>
  <div class="note-item">
    <div class="title">
      Solfege
    </div>
    <div class="body">
      When we sing the solfege (do, re, mi) syllables while reading notes or playing the keyboard, we develop a strong sense of tonality and relative pitch.
    </div>
  </div>
  <div class="note-item">
    <div class="title">
      Reading
    </div>
    <div class="body">
      Reading music is a separate activity from performing on the keyboard, and includes using tools such as music flash cards and "secret" ways of learning the notes that make it fun and easy.
    </div>
  </div>
  <div class="note-item">
    <div class="title">
      Performing
    </div>
    <div class="body">
      Students perform every piece by memory in front of the class, thus preparing to perform in the recitals at an early age.
    </div>
  </div>


  </div>
</div>



