.about-message {
    font-family: 'PT Serif',Arial !important;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    font-style: italic;
    padding: 25px 0px;
    margin: 0px 0px 5px 0px;
    color: #999999;
}

.row {
  min-height: 180px;
  text-align: justify;

  .left {
    margin-right: 15px;
    float: left;
  }
  h2 {
    font-size: 30px;
    font-weight: 500;
  }
}

.row-flex {
	display: flex;
	flex-flow: row wrap;


  .note-item {
    margin-bottom: 15px;
    .title {
      font-weight: 700;
      font-size: 24px;
    }
  }
}

.flex-center {
  justify-content: center;
}
.space {
  justify-content: space-around;
}


.row-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


  .list-item {
    min-width: 260px;
  }
}

