:host {
  // min-height: 100vh;
  min-height: 550px;
}

:host ::ng-deep  .row {
  margin: 0px;
}

.sidenav-fab-container {
  // width: 500px;
  // min-height: 300px;
  // border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidenav-fab-container mat-sidenav {
  max-width: 200px;
}

.sidenav-fab-container .mat-sidenav-content,
.sidenav-fab-container mat-sidenav {
  display: flex;
  overflow: visible;
}

button.side-button {
  background-color: #FF4500;
  border-color: #FF4500;
  border-radius: 5px;

  .mat-icon {
    vertical-align: middle;
    color:#fff;
  }
}

.mat-sidenav {
  box-shadow: 1px 1px 1px #efefef;
  border-radius: 5px;
  background-color: #FF4500;
}

.mat-sidenav ul {
  padding:5px;
  list-style: none;

  li {
    margin-top: 8px;
    padding-left: 5px;
    border-radius: 5px;

    a {
      color: #000 !important;
    }

    a:hover {
      text-decoration: none;
    }
  }

  li:hover {
   background-color: #fff;
   cursor: pointer;
  }
}

