<div class="dash-layout">
  <!-- <app-header-user [title]="title" [user$]="auth.user$"></app-header-user> -->
  <div class="middle">
    <div *ngIf="getSidebarToggleStatus()" [ngClass]="{
      'sidebar': true,
      'sidebar-large': isSidebarLarge,
      'sidebar-medium': isSidebarMedium,
      'sidebar-none': isSidebarNone
    }">
      <div class="menu-item" *ngFor="let item of menu">
        <ng-template [ngTemplateOutlet]="item.link != '[logout]' ? normal : logout" [ngTemplateOutletContext]="{item:item}"></ng-template>
      </div>
    </div>
    <div class="content" *ngIf="user">
      <div class="outlet" *ngIf="user.roles['guest'] == true">
        Welcome {{user.name}}
        <p>Once you are verified as a student the rest of the site is yours to explore</p>
      </div>
      <div class="outlet" *ngIf="user.roles['guest'] == false"><router-outlet></router-outlet></div>
      <!-- <footer-admin></footer-admin> -->
    </div>
  </div>
</div>

<ng-template #normal let-item="item">
  <a class="inner" routerLink="{{item.link}}">
    <span class="icon"><span class="mdi mdi-{{item.icon}}"></span></span>
    <span *ngIf="!isSidebarMedium && !isSidebarNone"><span class="title">{{item.title}}</span></span>
  </a>
</ng-template>
<ng-template #logout let-item='item'>
  <span class="inner" (click)="signOut()">
    <span class="icon"><span class="mdi mdi-{{item.icon}}"></span></span>
    <span *ngIf="!isSidebarMedium && !isSidebarNone"><span class="title">{{item.title}}</span></span>
  </span>
</ng-template>

