<div class="content-section-heading">
  <h2 class="content-section-subtitle">
    <span class="title-point"></span>
    <!-- Our Team										 -->
  </h2>
  <h1 class="content-section-title">
    <span>News</span>
  </h1>
  <div class="content-section-line">
    <span>

    </span>
  </div>
</div>

<div class="container">
  <div class="ann" *ngFor="let ann of announcements | async">
    <div class="created-at">{{ann.createdAt.toDate() | date:'medium'}}</div>
    {{ann.announcement}}
  </div>
  <div class="icon-box-link">
    <span href='#' (click)="showAnnouncements()">
      More
    </span>
  </div>
</div>




