<!-- TOP LOGO HEAD -->
<div class="hidden-sm hidden-xs AC">
  <div class="site-logo">
    <h1>
      <a class="logo-image" routerLink="/home">
        <img class="logo-normal" alt="Orange County Music School" src="../assets/img/music-logo.svg">
      </a>
    </h1>
  </div>
  <div class="cleared"></div>
</div>


<nav id="header-bar" class="navbar navbar-default navbar-static-top header-bar hidden-md hidden-lg" (mouseleave)="mouseLeave()">
  <div class="center" *ngIf="windowWidth > 480; else smallNav">
      <div *ngFor="let item of menuItems" (mouseenter)="mouseEnter(item.title)"
      [ngClass]="{'has-submenu': item.title.toLowerCase() == 'explore'}">
        <a *ngIf="item.link.toLowerCase() != 'explore'" routerLink="/{{item.link}}" (click)="mouseLeave()">{{item.title}}</a>
        <a *ngIf="item.link.toLowerCase() == 'explore'" (click)="mouseLeave()">{{item.title}}</a>
        <span [ngClass]="{
          'chevron-right': true,
          'mdi': true,
          'mdi-chevron-down': true,
          'mdi-arrow': true,
          'open-right': isExploreSubShow && item.title.toLowerCase() == 'explore'
        }" *ngIf="item.children"></span>
        <ng-container *ngIf="item.children && isExploreSubShow && item.title.toLowerCase() == 'explore'">
            <div [@listAnimation]="isExploreSubShow" class="sub-menu">
            <a class="item" routerLink="/{{child.link}}" *ngFor="let child of item.children" (click)="mouseLeave()">{{child.title}}</a>
          </div>
        </ng-container>
      </div>
      <div>
        <a *ngIf="user == null" routerLink="/user/forms/login" (mouseenter)="mouseLeave()">Login</a>
        <a *ngIf="user" routerLink="/user/profile" (mouseenter)="mouseLeave()"><span class="mdi mdi-account"></span></a>
      </div>
  </div>
</nav>


<ng-template #smallNav>
<div class="small-nav">
  <div class="tiny-tag"><a routerlink="/">OCMS</a></div>
  <button class="hamburger hamburger--collapse" [class.is-active]="hamburgerDown" type="button" (click)="toggleHamburger()">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <ul
  [ngClass]="{
    'front-small-menu': true,
    'front-small-menu-2': true
  }"
  [@listAnimation]="hamburgerDown"
  *ngIf="hamburgerDown">
    <li *ngFor="let item of menuItems" [class.has-children]="item.children">
      <a (click)="mouseEnter(item.title, item.link)">{{item.title}}</a>
      <span [ngClass]="{
        'chevron-right': true,
        'mdi': true,
        'mdi-chevron-down': true,
        'open-right': isExploreSubShow && item.title.toLowerCase() == 'explore'
      }" *ngIf="item.children"></span>
      <ng-container *ngIf="item.children && isExploreSubShow && item.title.toLowerCase() == 'explore' && hamburgerDown">
        <div [@listAnimation]="isExploreSubShow" class="sub-menu-sm-1">
          <a class="item" *ngFor="let child of item.children" (click)="mouseEnter(child.title, child.link)">{{child.title}}</a>
        </div>
      </ng-container>
    </li>
    <li><a *ngIf="user == null" routerLink="/user/forms/login" (mouseenter)="mouseLeave()">Login</a></li>
    <li><a *ngIf="user" routerLink="/user/profile" (mouseenter)="mouseLeave()">Profile</a></li>
  </ul>
</div>
</ng-template>

