:host {
  // width: 100%;
  // position: fixed;
  // top: 0;
  // z-index: 3;
  // background: $background-primary;
  // height: 10%;
  flex: 0 0 auto;
}

.small-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 0px 15px;
  align-items: baseline;
}

.tiny-tag {
  font-size: 28px;

  > a {
    color: #939393;
  }
}

li.has-children {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin-top: -5px;
}
.mdi-arrow {
  position: relative;
  top: 4px;
  cursor: pointer;
}

nav.nav-header-oth {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: #222b45;
  color: #fff;
  box-shadow: 0 .5rem 1rem 0 #1a1f33;
  height: 4.75rem;
  padding: 0.25em 1.0rem;

  .toggle-cont, .left {
    // margin-left: 15px;
  }
  .page-title-cont {
    margin-left: 15px;
    flex: 1;
  }
  img {
    width: 60px;
  }
}

.nav-2 {
  background: none;
}

.dropdown-content {
  display: none;
  flex-flow: column;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  // background-color: rgba(10, 10, 10, 0.56);
  background-color:black;
	border: 1px solid white;
  border-radius: 2px;
  padding: 3px;
}
.dropdown:hover .dropdown-content {display: flex;}

.hamburger {
  outline: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #bdbdbd;
  outline: none;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #bdbdbd;
  outline: none;
}

.has-submenu {
  margin-right: 5px !important;
}

nav {
  width: 100%;
  // background-color: rgba(10, 10, 10, 0.56);
  // font-family: 'Cinzel Decorative';
  // color: white;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
  padding: 10px 0px;
  // cursor: pointer;

  .center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: baseline;
    align-items: baseline;
    margin: 0px 15px;
    font-family: proxima-nova;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    > div {
      margin: 0px 15px;
      font-size: 18px;
    }
  }
  .left {
    margin-left: 8px;
  }
  .right {
    display:flex;
    align-items: baseline;

    > div {
      margin-right: 15px;
    }
  }
  .logo {
    width: 100px;
    cursor: pointer;
    outline: none;
  }
  a {
    color: #23527c;
    text-decoration: none;
  }
  .mdi {
    font-size: 24px;
    width: 27px;
    // color: #a6bfc5;
    color: black;
  }
}

.sub-menu {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px 5px 5px 15px;
  border: 1px solid grey;
  border-radius: 5px;
  background: white;
  width: 190px;
  line-height: 2.1;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-top: none;
  font-family: proxima-nova;
  font-style: normal;
  font-size: 15px;
  z-index: 1000;

  > a {
    color: black;
    font-weight: normal;
  }
}

.sub-menu-lg-1 {
  position: absolute;
  top: 60px;
  right: 100px;
	padding: 10px 5px 3px 5px;
	box-shadow: 2px 3px 2px 1px pink;
  margin-top: 5px;
  display: flex;
  flex-flow: column nowrap;
  z-index: 3;
  background: pink;
  border-radius: 5px;
}
.sub-menu-lg-2 {
	position: absolute;
	right: 5px;
  top: 70px;

  > a {
    margin-right: 10px;
  }
}
.sub-menu-sm-1 {
	position: absolute;
	right: 121px;
	display: flex;
	flex-flow: column wrap;
	background: pink;
	padding: 8px;
  top: 0px;
  z-index: 100000;
  background: white;
  cursor: pointer;
  line-height: 1.5;
  border: 1px solid #e0e0e0;
  border-top-color: rgb(224, 224, 224);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: none;
  box-shadow: -1px 0px 0px 0px #e0e0e0;
}

.front-small-menu {
  padding: 22px 13px;
  line-height: 1.4;
  list-style: none;
  border-radius: 5px;
  font-size: 18px;

  a {
    text-decoration: none;
  }
}

.front-small-menu-1 {
  position: absolute;
  top: 66px;
  right: 0px;
  background: black;
}

.front-small-menu-2 {
  position: absolute;
  padding: 6px 13px;
  top: 63px;
  right: 0px;
  // background: rgba(161, 100, 51, .1);
  z-index: 100000;
  background: white;
  cursor: pointer;
  line-height: 1.5;
  border: 1px solid #e0e0e0;
  border-top-color: rgb(224, 224, 224);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: none;
  box-shadow: -1px 0px 0px 0px #e0e0e0;

  a {
    color: black;
  }
}
