<div class="content-section-heading">
  <h1 class="content-section-title">
    <span>Learn To Play</span>
  </h1>
  <div class="content-section-line">
    <span>
    </span>
  </div>
</div>


<!-- LEARN TO PLAY  CONTENT -->
<div class="home-container">
  <div class="container">
    <div class="ltp-cont">
      <div class="icon-box icon-box-center" *ngFor="let inst of ltpInsts">
        <div class="icon-box-icon">
          <a routerLink="/learntoplay/{{inst}}">
            <img appLazyLoad class="icon-box-image" src="../assets/img/LTP_{{inst}}.jpg">
          </a>
        </div>
        <div class="icon-box-link">
            <a routerLink="/learntoplay/piano">
            {{inst.toUpperCase()}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
