::ng-deep router-outlet + * {
  animation: fade 1s;

  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.app-container {
  display:flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-body {
  flex:1;
  display:flex;
  flex-direction: column;
}

.ad-pane .mat-dialog-container {
  overflow: hidden;
}
