<div class="app-container">
  <app-header></app-header>
    <main class="app-body">
      <router-outlet>
        <!-- <app-live-chat-window></app-live-chat-window> -->
      </router-outlet>
    </main>
  <app-footer></app-footer>
  </div>
