.row {
	display: flex;
  justify-content: space-between;

  .left, .right {
    width: 50%;
  }
}

.little-title {
    margin: 0px;
    padding: 0px 0px 25px 0px;
    font-family: 'Lato',Arial !important;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.map {
    margin-top:30px;
}

.form-container {
    display:block;
    width:90%;
    padding:2em;
    margin: 2em auto;
    background:#fff;
}


.button {
    margin-top: 3rem;
}
h1 {
    margin-bottom: 2rem;
    font-weight:bold;
    font-family:'Muli';
    font-size: 2em;
}


@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
