<app-page-header [title]="'Contact'"></app-page-header>


<div class="container">
<div class="row">
  <div class="left">
    <div class="little-title">
      Our Office
    </div>
    <div class="content content-box-content">
      <p><strong>Our&nbsp;Headquarters:</strong></p>
      <p>Orange County Music School<br>14482 Silverbrook Drive, Tustin, CA 92780</p>
      <p><strong>Phone:</strong> (714) 573-1449</p>
      <p><a href="https://www.google.com/maps/place/14482+Silverbrook+Dr,+Tustin,+CA+92780/@33.729924,-117.815558,14z/data=!4m5!3m4!1s0x80dcdbf0ccea6ac7:0x37a3e676b43074ef!8m2!3d33.726061!4d-117.8174932?hl=en" target="_blank">Google Maps</a></p>
    </div>
  </div>
  <div class="right">
    <div class="little-title">
      Send Us Mail
    </div>
      <!-- SAVE FORM -->
      <!-- <form (ngSubmit)="saveContactMessage(mailForm)" #mailForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required
            [(ngModel)]="model.name" name="name"
            #name="ngModel"
            [ngClass]="{
              'has-success': name.valid,
              'has-danger': !name.pristine && !name.valid
            }">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required
            [(ngModel)]="model.email" name="email"
            #email="ngModel"
            [ngClass]="{
              'has-success': email.valid,
              'has-danger': !email.pristine && !email.valid
            }">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email is required
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" required
            [(ngModel)]="model.phone" name="phone"
            #phone="ngModel"
            [ngClass]="{
              'has-success': phone.valid,
              'has-danger': !phone.pristine && !phone.valid
            }">
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
            Phone is required
          </div>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea rows="3" class="form-control" id="message" required
            [(ngModel)]="model.message" name="message"
            #message="ngModel"
            [ngClass]="{
              'has-success': message.valid,
              'has-danger': !message.pristine && !message.valid
            }">
          </textarea>
            <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
            Message is required
          </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!mailForm.form.valid">Send</button>
      </form>  -->

      <form (ngSubmit)="saveContactMessage(messageForm)" #messageForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input rows="3" class="form-control" id="text" required
            [(ngModel)]="model.name" name="name"
            #name="ngModel"
            [ngClass]="{
              'has-success': name.valid,
              'has-danger': !name.pristine && !name.valid
            }">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input  class="form-control" id="email" required
            [(ngModel)]="model.email" name="email"
            #email="ngModel"
            [ngClass]="{
              'has-success': email.valid,
              'has-danger': !email.pristine && !email.valid
            }">
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
              Email is required
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input  class="form-control" id="phone" required
            [(ngModel)]="model.phone" name="phone"
            #phone="ngModel"
            [ngClass]="{
              'has-success': phone.valid,
              'has-danger': !phone.pristine && !phone.valid
            }">
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
              Phone is required
          </div>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea  class="form-control" id="message" required
            [(ngModel)]="model.message" name="message"
            #message="ngModel"
            [ngClass]="{
              'has-success': message.valid,
              'has-danger': !message.pristine && !message.valid
            }">
            </textarea>
            <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
              Message is required
          </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!messageForm.form.valid">Save</button>
      </form>
</div>
</div>
</div>


<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d26545.513411169!2d-117.815558!3d33.729924!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcdbf0ccea6ac7%3A0x37a3e676b43074ef!2s14482+Silverbrook+Dr%2C+Tustin%2C+CA+92780!5e0!3m2!1sen!2sus!4v1499562589102" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
