<app-page-header [title]="'Join Us'"></app-page-header>


<div class="container-sm">
  <p>Would you like to join Orange County's premier music school as an instructor? Tell us a little about yourself and submit a CV below. We'll be in contact with you shortly!</p>
  <br/>
  <form (ngSubmit)="saveItem(messageForm)" #messageForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input rows="3" class="form-control" id="text" required
          [(ngModel)]="model.name" name="name"
          #name="ngModel"
          [ngClass]="{
            'has-success': name.valid,
            'has-danger': !name.pristine && !name.valid
          }">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input  class="form-control" id="email" required
          [(ngModel)]="model.email" name="email"
          #email="ngModel"
          [ngClass]="{
            'has-success': email.valid,
            'has-danger': !email.pristine && !email.valid
          }">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input  class="form-control" id="phone" required
          [(ngModel)]="model.phone" name="phone"
          #phone="ngModel"
          [ngClass]="{
            'has-success': phone.valid,
            'has-danger': !phone.pristine && !phone.valid
          }">
          <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
            Phone is required
        </div>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea  class="form-control" id="message" required
          [(ngModel)]="model.message" name="message"
          #message="ngModel"
          [ngClass]="{
            'has-success': message.valid,
            'has-danger': !message.pristine && !message.valid
          }">
        </textarea>
        <div [hidden]="message.valid || message.pristine" class="alert alert-danger">
          Message is required
        </div>
      </div>
      <!-- CV Upload File -->
      <div *ngIf="currentUpload" class="AC">
          <div class="progress">
            <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
          </div>
          Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
        </div>
        <label  class="AC">
            <input #fileUpload type="file" (change)="detectFiles($event)">
        </label>
        <div [hidden]="fileNoTouch || fileUploaded" class="alert alert-danger">
          You must upload a CV
        </div>
      <button type="submit" class="btn btn-success" [disabled]="!messageForm.form.valid || !fileUploaded">Save</button>
    </form>
</div>
