<app-page-header [title]="'Announcements'"></app-page-header>

<div class="announcement-top" *ngFor="let ann of announcementsActive | async">
  <p>{{ann.announcement}}</p>
  {{ann.createdAt | date:'medium'}}
</div>
