.container {
  text-align: center;
}

.gallery-img {
  margin: 6px;
  border: 4px solid #eee;
  box-shadow: #555 1px 1px 8px 1px;
  display:inline-block;
}

.gallery-img img {
  width:200px;
}

img.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.filter-buttons button {
  margin-bottom:15px;
}

.gal-page-numbers {
  margin-bottom:4px;

  > button {
    margin-right:2px;
  }
}
