<div class="dash-layout">
  <header-admin [title]="title"></header-admin>
  <div class="middle">
    <div *ngIf="getSidebarToggleStatus()" [ngClass]="{
      'sidebar': true,
      'sidebar-large': isSidebarLarge,
      'sidebar-medium': isSidebarMedium,
      'sidebar-none': isSidebarNone
    }">
      <div class="menu-item" *ngFor="let item of menu">
        <a class="inner" routerLink="{{item.link}}">
          <div class="icon" ><div class="mdi mdi-{{item.icon}}"></div></div>
          <div *ngIf="!isSidebarMedium && !isSidebarNone"><div class="title">{{item.title}}</div></div>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="outlet"><router-outlet></router-outlet></div>
      <!-- <footer-admin></footer-admin> -->
    </div>
  </div>
</div>


