// @import '../../styles//themes.scss';
@import '../../styles/variables';
// @import '../../styles/breakpoints.scss';
:host {

  .card {
    width: 60%;
  }
}
.back {
  display: flex;
  width: 5%;
}

:host ::ng-deep {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%;



  // // FORM
  // .form {
  //   background-color: $formBgColor;

  //   [disabled] {
  //     cursor: not-allowed;
  //   }
  //   nb-icon {
  //     width: 2em;
  //   }
  //   h1 {
  //     font-size: 2.25rem;
  //     font-family: Open Sans, sans-serif;
  //     font-weight: 700;
  //     line-height: 3rem;
  //     margin-top: 0;
  //     margin-bottom: 0.75rem;
  //     text-align: center;
  //   }
  //   .label {
  //     color: #8f9bb3;
  //     font-family: Open Sans, sans-serif;
  //     font-size: 0.75rem;
  //     font-weight: 700;
  //     line-height: 1rem;
  //   }
  //   .status-danger {
  //     color: $color-danger;
  //   }
  //   .forgot-password {
  //     font-size: 10px;
  //     margin-left: 5px;
  //   }
  //   select, input, textarea, button {
  //     width: 100%;
  //     line-height: 1.5;
  //     padding: 15px 10px;
  //     border: 1px solid $formElsBorder;
  //     color: $white;
  //     background: $formElsBg;
  //     transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
  //     transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  //   }
  //   select:focus, input:focus, textarea:focus, button:focus {
  //     background: $formElsBgFocus;
  //   }
  //   select:focus, input:focus, textarea:focus {
  //     transform: scale(1.02);
  //   }
  //   .btn-grid {
  //     position: relative;
  //     overflow: hidden;
  //     transition: filter 0.2s;
  //   }
  //   button:enabled:hover, .my-form button:focus {
  //     background: var(--bgFormElsFocus);
  //   }
  //   button {
  //     width: 40%;
  //     cursor: pointer;
  //   }
  //   button > * {
  //     display: inline-block;
  //     width: 100%;
  //     transition: transform 0.4s ease-in-out;
  //   }
  //   button .back {
  //     position: absolute;
  //     left: 50%;
  //     top: 50%;
  //     transform: translate(-110%, -50%);
  //   }
  //   button:enabled:hover .back, button:focus .back {
  //     transform: translate(-50%, -50%);
  //   }
  //   button:enabled:hover .front, .my-form button:focus .front {
  //     transform: translateX(110%);
  //   }
  // }
  // CARD
  .card {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    // height: calc(100vh - 2 * #{$auth-layout-padding});
    height: 90%;
    background-color: $formBgColor;
    border: 0 solid transparent;
    border-radius: 0.25rem;
    // box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    color: black;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 1.875rem;
    scrollbar-face-color: #e4e9f2;
    scrollbar-track-color: #f7f9fc;

    .header {
      padding: 1rem 1.25rem;
      border-bottom: 1px solid $formElsBorder;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      color: #1a2138;
      font-family: Open Sans, sans-serif;
      font-size: 0.9375rem;
      font-weight: 600;
      line-height: 1.5rem;
    }
    .body {
      flex: 1;
      overflow: none;
      padding: 1rem 1.25rem;
      position: relative;
    }
    .footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin-bottom: 5px;
    }
    a {
      color: black;
    }
  }








  // [nbButton] {
  //   padding: 0.75rem 1.125rem;
  //   border-style: solid;
  //   border-width: 0.125rem;
  //   text-transform: uppercase;

  //   [disabled] {
  //     background-color: #edf1f7;
  //     border-color: #edf1f7;
  //     color: #c5cee0;
  //   }
  // }
  // [nbInput] {
  //   background-color: #f7f9fc;
  //   border-color: #edf1f7;
  //   border-style: solid;
  //   border-width: 1px;
  //   color: #1a2138;
  //   font-family: Open Sans, sans-serif;
  //   -webkit-appearance: none;
  //   transition-duration: 0.15s;
  //   transition-property: border, background-color, color, box-shadow;
  //   transition-timing-function: ease-in;

  //   &.size-large {
  //     width: 100%;
  //     font-size: 0.9375rem;
  //     font-weight: 600;
  //     line-height: 1.5rem;
  //     padding: 0.6875rem 1.125rem;
  //   }
  // }


}
