<div class="content-section-heading">
  <h2 class="content-section-subtitle">
    <span class="title-point"></span>
    <!-- Our Team										 -->
  </h2>
  <h1 class="content-section-title">
    <span>Our Team	</span>
  </h1>
  <div class="content-section-line">
    <span>

    </span>
  </div>
</div>
<!-- TEACHERS -->
<div class="container">
  <app-display-teacher></app-display-teacher>
</div>


<div class="container icon-box-link" style="text-align:center; margin-top:15px;">
  <a class="button big-button 1bbc9b-button" routerLink="/teachers"><i class="fa fa fa-ok"></i>See More Teachers</a>
</div>
