<div class="acc" (click)="isDown = !isDown">
  <div class="head">{{header}}</div>
  <ng-container *ngIf="isDown">
    <div [@listAnimation]="isDown" class="bod">{{body}}</div>
  </ng-container>
</div>
