.acc {
  border: 1px solid lightgrey;
	border-radius: 5px;
  margin-bottom: 15px;

  .head {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
  }
  .bod {
    padding: 5px;
  }
}
