<div class="video-cont" [ngClass]="{
  'small-tiles': tileSize === 'small',
  'large-tiles': tileSize ===  'large',
  'full-tiles': tileSize ===  'full'
}">
  <youtube-player
        [videoId]="videoId"
        (ready)="savePlayer($event)"
        width="367"
        height="270"
        (change)="onStateChange($event)">
  </youtube-player>
  <div class='title'>{{title}}</div>
  <div class='caption' [hidden]="tileSize === 'small'">{{caption}}</div>
</div>
