/* You can add global styles to this file, and also import other style files */

/**********************
** GLOBAL LAYOUT
**********************/
* {
    font-family: 'Raleway';
}

html
{
    min-height:100%;
    position:relative;
}

body
{
    margin-top:51px;
    margin-bottom:45px;
    /*padding:10px;*/
}

button {
    background:#008FEF;
    color:white;
    padding: 1.2em;
    width:300px;
    text-align:center;
    font-size:1.2em;
    margin-bottom: 30px;
    cursor:pointer;
}

.footer
{
    position:absolute;
    bottom:0;
    height:45px;
    width:100%;
}


/**********************
** HELPERS
**********************/
.IL
{
    display:inline-block;
}