<h1>
    Hello and welcome to OCMS!
</h1>

<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <app-home-message class="component"></app-home-message>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <app-announcements class="component"></app-announcements>
    </div>
</div>

<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <app-home-video class="component"></app-home-video>
        <app-home-instrument-list class="component"></app-home-instrument-list>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <app-mailing-list class="component"></app-mailing-list>
    </div>
</div>

<app-testimonials></app-testimonials>






