.image-container {
  position: relative;
  width:100%;
}

.image-container img {
  width:100%;
}

.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  display: block;
  background-color: rgba(14,49,88,.88);
}

.desc-wrapper {
  font-family: proxima-nova;
  margin:0 auto;
  position: relative;
  text-align: center;
  z-index: 100;
  top: calc(30% - 24px); /*24 is size of text*/
  left: 0;
  text-align: center;
  width: 100%;
}

.bottom-buttons {
  margin-top:60px;
}

.bottom-buttons > a {
  margin: 0px 15px;
}

@media screen and (min-device-width: 1200px) /* Desktop */ {
  .desc-wrapper .top {
    font-size: 50px;
  }
  .desc-wrapper .bottom {
    font-size: 25px;
  }
}

@media screen  and (max-device-width: 1199px) /* Tablet */ {
  .desc-wrapper .top {
    font-size: 35px;
  }
  .desc-wrapper .bottom {
    font-size: 17.5px;
  }
}

@media screen and (max-device-width: 720px) /* Mobile */ {
  .desc-wrapper .top {
    font-size: 22px;
  }
  .desc-wrapper .bottom {
    font-size:12px;
  }
  .bottom-buttons {
    margin-top:0px;
  }
  .btn-group-lg>.btn, .btn-lg {
    padding: 3px 7px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 6px;
  }
}
