.masonry-brick {
	color: #000;
	background-color: white;
	display: inline-block;
	padding: 10px;
	width: 100%;
	margin: 1em 0; /* for separating masonry-bricks vertically*/
	box-shadow: 4px 4px 0px rgba(0,0,0,0.025);
	border-radius: 5px;
}

.res-container.masonry-brick a {
  color: rgb(63, 55, 55) !important;
  font-size: 18px;
  text-decoration: none;
}

.res-container.masonry-brick h3 {
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .masonry-container {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
}

@media only screen and (min-width: 768px) {
  .masonry-container {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
}

@media only screen and (min-width: 960px) {
  .masonry-container {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
  }
}
