<app-page-header [title]="'Resources'"></app-page-header>

<div class="masonry-container" *ngIf="resources">

    <div class="res-container masonry-brick">
      <h3>Music Teacher Associations</h3>
      <div *ngFor="let res of (resources | resourceCategoryFilter:'Music Teacher Associations')">
        <a href="{{res.url}}" target="_blank">{{ res.title }}</a>
      </div>
    </div>
     <div class="res-container masonry-brick">
      <h3>Music Education Information</h3>
      <div *ngFor="let res of (resources | resourceCategoryFilter:'Music Education Information') ">
        <a href="{{res.url}}" target="_blank">{{ res.title }}</a>
      </div>
    </div>
    <div class="res-container masonry-brick">
      <h3>Piano Magazines</h3>
      <div *ngFor="let res of (resources | resourceCategoryFilter:'Piano Magazines') ">
        <a href="{{res.url}}" target="_blank">{{ res.title }}</a>
      </div>
    </div>


     <div class="res-container masonry-brick">
      <h3>Piano Manufacturers</h3>
      <div *ngFor="let res of (resources | resourceCategoryFilter:'Piano Manufacturers') ">
        <a href="{{res.url}}" target="_blank">{{ res.title }}</a>
      </div>
    </div>
    <div class="res-container masonry-brick">
      <h3>Piano Publishers</h3>
      <div *ngFor="let res of (resources | resourceCategoryFilter:'Piano Publishers') ">
        <a href="{{res.url}}" target="_blank">{{ res.title }}</a>
      </div>
    </div>
    <div class="res-container masonry-brick">
      <h3>Fun and Games</h3>
      <div *ngFor="let res of (resources | resourceCategoryFilter:'Fun and Games') ">
        <a href="{{res.url}}" target="_blank">{{ res.title }}</a>
      </div>
    </div>

    <div class="res-container masonry-brick">
      <h3>Sheet Music</h3>
      <div *ngFor="let res of (resources | resourceCategoryFilter:'Sheet Music') ">
        <a href="{{res.url}}" target="_blank">{{ res.title }}</a>
      </div>
    </div>
    <div class="res-container masonry-brick">
      <h3>Articles</h3>
      <div *ngFor="let res of (resources | resourceCategoryFilter:'Articles') ">
        <a href="{{res.url}}" target="_blank">{{ res.title }}</a>
      </div>
    </div>
    <div class="res-container masonry-brick">
      <h3>Apps</h3>
      <div *ngFor="let res of (resources | resourceCategoryFilter:'Apps')">
        <a href="{{res.url}}" target="_blank">{{ res.title }}</a>
      </div>
    </div>

</div>
