:host {
  display: block;
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  color: fff;
  font-family: Open Sans,sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;

  .page-title-cont {
    text-align: right;
  }

  .toggle-cont {
    cursor: pointer;
  }
}


